body {	
	color: black;
	height: 100%;
	font-family: Arial, sans-serif;	
	text-align: center;
	min-width: 950px;
    background-color: #f1f1e7;
    margin: 0;
    padding: 0;
    border-style: none;
	vertical-align: baseline;
}

.header {
	padding-top: 20px;	
	padding-left : 70px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    color: black;
}

.largefont
{
	font-size: 150%;
}

#wrapper {
	text-align: left;
	width: 950px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #ffffe6;
	background-image: url("../images/paperbk.jpg");
	background-repeat: repeat-y;
	box-shadow: 2px 2px 5px #888888;
}
	

div.content{
	color:black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;	
	padding: 10px;

}

#restrictedtext
{
	width:750px;
	margin-left: auto;
	margin-right: auto;	
	text-indent: 20px;
}

.thumbnail{
	width: 200px;
	height: 150px;
	border-radius: 10px;
	border-color: white;
	border-style: solid;
	box-shadow: 2px 2px 5px #888888;
}

.albumicon
{
	display: block;
	max-width: 150px;
	max-height: 150px;	
	width:auto;
	height:auto;
	border-color: #e6e6e6;
	border-style: solid;
	box-shadow: 2px 2px 5px #888888;
}

.albumicon:hover
{
	border-color: #4080bf;
}

table
{
	padding-left: 20px;
	padding-right: 20px;
}

td
{
	padding-left: 10px;
	padding-right: 10px;
}

tr.padbottom > td
{
	padding-bottom: 30px;
}

a:link
{
	color: #001a33;	
}
a:visited
{
	color: #001a33;
}
a:hover
{
	color: #4080bf;
}
a:active
{
	color: #4080bf;
}

div.footer {
    padding: 10px;
    text-align: center;
    color: grey;
    line-height: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 950px; 
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;   
    max-width: 700px;
    max-height: 700px;
     width: auto;
     height:auto;
}

.modal-bottom{
	height: 200px;
}

/*close button*/
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #cce6ff;
    text-decoration: none;
    cursor: pointer;
}
